Derivation-Extrema_Along_the_Hugoniot_and_Implications_for_Gamma.pdf
Derivation_of_Exact_Gruneisen_Expression_along_the_Hugoniot.pdf
H_FPEOS_Gruneisen_Hugoniot_plot.pdf
IanOcampo_personal_communication.pdf
McQueen_1968.pdf
MgO_FPEOS_Gruneisen_Hugoniot_plot.pdf
O_FPEOS_Gruneisen_Hugoniot_plot.pdf
Si_FPEOS_Gruneisen_Hugoniot_plot.pdf
FPEOS_Gruneisen_Hugoniot_critical_points.pdf


FPEOS_Hugoniot_SiO2_malo.txt
FPEOS_Hugoniot_SiO2_old.txt
FPEOS_adiabats_SiO2_old.txt
Notes_from_BM_Oct28_2025.txt
logfile.txt
logfile.dat


Derivation-Burkhard_2025_01_14_Gruneisen_paramter_and_Hugoniot_curves.jpg
FPEOS
Gruneisen_on_Hugoniot_curve/
OPIUM-calculations/
Paper-CPP-Applicability_of_the_Mie_Gruneisen_model_at_WDM_conditions/
SiO2_quartz_primitive_cell_for_Hugoniot_PBE/
